body{
    box-sizing: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.modal{
    width: 500px;
    height: 300px;
    margin: 20px auto;
    padding: 15px;
    background: #eee;
    /* position: relative; */
}

.modal-title{
    margin: 0;
}


.square{
    width: 50px;
    height: 30px;
    background: slategray;
    position: absolute;
    top: -10px;
    top: 0px;
    z-index: 1;
}
.spuare.red{
    background: red;
    right: -15px;
    top: -5px;
    z-index: 2;
}