header {
    border-bottom: 3px solid black;
    padding: 20px;
    background: slategrey;
    width: 100%;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.box1 {
    /* z-index: 100; */
    width: 200px;
    height: 200px;
    background: red;
    position: relative;
}
.box2 {
    width: 100px;
    height: 100px;
    background: green;
    position: absolute;
    top: 50px;
    left: 50px;
}
body{
    height: 2000px;
    margin: 0;
}
section {
    border-bottom: 3px solid black;
    padding: 20px;
    background: slategrey;
    /*position: fixed;*/
    width: 100%;
    position: sticky ;
    top: 0;
}
